/* Pallete 1 */


:root{
    background-color: whitesmoke;
    /* background-color: black; */
    margin:0;
    padding:0;
    
}

#title1{
    /* color:#efecec */
    display:block;
    text-align: center;
}

body{
    margin-left: 5%;
    margin-right:5%;
}

.main-menu{
    display:grid;
    grid-template-columns: 40% 20% 40%;
    /* justify-content: center; */
    justify-items: center;
   
    align-content: center;
    align-items: center;
}

.left-side,
.right-side {
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50% 20%;
    border: 4px solid black;
    border-radius: 10px;
}
img{
    height:100%;
    width:100%
}

#leftImg, #rightImg{
    grid-column: 1/3;
}

#leftImg{
    transform: rotateY(180deg);
}

.player1Choose, .player2Choose{
    display:flex;
   justify-content: space-around;
}

#player1-human,#player1-bot, #player2-human, #player2-bot{
    width:3rem;
    text-align: center;
    padding: 1rem;
    border:3px solid black;
    /* padding:2rem; */
    border-radius: 6px;
}

/* .#player1-human:hover,#player1-bot:hover, #player2-human:hover, #player2-bot:hover{
    background-color: crimson;
} */

.selected{
    background-color: rgba(220, 20, 60, 0.812);
    color:white;
}

.right-side div:hover,.left-side div:hover{
    background-color: red;
}

#startButton{
    margin-top:2vh;
    background-color: rgba(220, 20, 60, 0.812) ;
    /* color:white; */
    width:8rem;
    height: 4rem;
    grid-column: 1/4;
    border-radius: 6px;
    color:white;
    font-weight: 600;
}

#startButton:hover{
    background-color: crimson;
    width:8.5rem;
    height:4.5rem;
    font-weight:800;
}